﻿@using Kooco.Framework.Shared;
<!DOCTYPE html>
<!--
    _Layout Template for the old Kooco2015 Layout
    =============================================

    This is a template file for copy+paste into the project's _Layout file.
    
    modify: please only update this template in the Maxima project
    in Maxima: please only update the file in the root /Views/Templates folder, NOT in the NugetOverwriteContents folder!
    changes will be overwritten otherwise!    
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kooco Generics Test Website</title>

    @RenderSection("Header", required: false)

    <link href="~/styles/Maxima.common.css" rel="stylesheet">
    <link rel="stylesheet" href="~/styles/Maxima.Kooco2015.css" />

    <!-- TODO automatic add these lines somehow to the _Layout page with NuGet? -->
    <link href="~/styles/bootstrap.min.css" rel="stylesheet">
    <link href="~/styles/kendo_ui/kendo.common.min.css" rel="stylesheet">
    <link href="~/styles/kendo_ui/kendo.bootstrap.min.css" rel="stylesheet">
    <link href="~/styles/kendo_ui/kendo.bootstrap.mobile.min.css" rel="stylesheet">
    <link href="~/styles/font-awesome.min.css" rel="stylesheet">

    <script src="~/scripts/jquery-1.12.4.min.js"></script>
    <script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/api/maxima/maximaresourcesjs?v=@Kooco.Framework.Shared.GlobalConst.MaximaFrameworkVersion"></script>    
    <script src="~/api/maxima/maximajs?v=@Kooco.Framework.Shared.GlobalConst.MaximaFrameworkVersion"></script>
    <script src="~/api/maxima/maximapagemanagerjs?v=@Kooco.Framework.Shared.GlobalConst.MaximaFrameworkVersion"></script>
    <script src="~/api/maxima/maximaimageuploaderjs?v=@Kooco.Framework.Shared.GlobalConst.MaximaFrameworkVersion"></script>
    <script src="~/scripts/moment.min.js"></script>
    <script src="~/scripts/loading-overlay.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/kendo_ui/kendo.ui.core.min.js"></script>
    <script src="~/scripts/kendo_ui/kendo.messages.zh-TW.js"></script>
</head>
<body class="maxima-body alt-grid @ViewBag.BodyClass">
    <div id="MaximaGlobalPopup"></div>
    <script>
        var GlobalMessagePopup = null; // required definition! Please don't remove!
        var ApplicationVirtualDirectory = null; // required definition! Please don't remove!
        var ApplicationApiServerUrl = '@Kooco.Framework.Shared.Utils.APIServerUrl("/")'; // required definition! Please don't remove!
        var CurrentMenuItemName = '@(MenuManager.CurrentMenuItem != null ? MenuManager.CurrentMenuItem.Name : "")';
        var ApplicationLanguage = 'zh-@(GlobalConst.MaximaLanguage == FrameworkLanguages.ChineseCN ? "CN" : "TW")';
        var ApplicationUseTimezoneHandling = @(ConfigManager.AdminUseTimezoneHandling ? "true" : "false");
        var MaximaPageManagerEnableTraceMessages = @(Kooco.Framework.Shared.ConfigManager.MaximaPageManagerTraceMsg.ToString().ToLower());
    </script>

    <!-- TODO - fix layout (currently columns are overlapping when the page width becomes small - ask on stackoverflow.com?) -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Views/Modules/LayoutKooco2015/AdminTitlebar.cshtml")
            </div>
        </div>
        <div class="row maxima-sidebar-contents-row">
            <div class="col-md-2 maxima-sidebar-col">
                @Html.Partial("~/Views/Modules/LayoutKooco2015/AdminSidebar.cshtml")
            </div>
            <div class="col-md-10 maxima-contents-col">
                    @RenderBody()
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Modules/LayoutKooco2015/SiteFooter.cshtml")

    @RenderSection("scripts", required: false)
    @Html.Partial("_MaximaBase")
</body>
</html>