﻿@using Kooco.Framework.Shared
@using Kooco.Framework.Models.Enum
@using MaximaWeb.Shared

@{

}

<script type="text/template" id="URM_UserListTemplate">
    <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="URM_UserListTable" cellspacing="0" style="box-sizing: border-box; width: 100%;">
        <thead>
            <tr>
                <th style="text-align: center;">會員</th>
                <th style="text-align: center;">Nickname</th>
                <th style="text-align: center;">Name</th>
                <th style="text-align: center;">Email</th>
                <th style="text-align: center;">Status</th>
            </tr>
        </thead>
    </table>
</script>

<script>
    var CurrentPageNr = 1;
    var URM_UserListDataTable = null;
    var CurrentSortOrder = null;

    function URM_LoadUserList(pageNr, sortBy)
    {
        CurrentSortOrder = sortBy;
        showLoader();

        // load users list
        getRemoteData('/Users/AjaxGetUsers?MaxItems=15&Page=' + pageNr + '&Role=@(! string.IsNullOrWhiteSpace(ViewBag.RoleFilter) ? ViewBag.RoleFilter : "")&OrderBy=' + sortBy, 'User-List', function (data, result) {
            URM_UserListDataTable = DataTableWrapper('#URM_UserListTable', data, {
                columns: [
                    { 
                      data: 'Account', 
                      render: function (data, type, full, meta) {
                          return "<a class='c-link' href='javascript:URM_userDetails(" + full.UID + ", \"" + full.Account + "\");'>" + data + "</a>";
                      }
                    },
                    { data: 'Nickname' },
                    { data: 'Name' },
                    { data: 'Email' },
                    {
                        data: 'Status',
                        render: function (data, type, full, meta) {
                            return (data == @((int)UserStatus.Normal) ? 'Normal' : 'Blocked');
                        }
                    }
                ],
                onsortchange: function(dt, newSort)
                {
                    if (newSort != CurrentSortOrder) {
                        URM_LoadUserList(pageNr, newSort);
                    }
                }                
            });

            ContextPagingPanel(pageNr, getResult_totalPages(result), function (pageNr) {
                URM_LoadUserList(pageNr, CurrentSortOrder);
            });

            hideLoader();
        });
    }

    function URM_refreshList()
    {
        URM_LoadUserList(CurrentPageNr, CurrentSortOrder);
    }

    function URM_userDetails(UID, Account)
    {
        /*
        if ((typeof $('#MaximaGlobalPopup') != 'undefined') && ($('#MaximaGlobalPopup').data('kendoWindow') != null)) {
            //$('#MaxmimaGlobalPopup').close();
            $('#MaxmimaGlobalPopup').destroy();
            $('#MaxmimaGlobalPopup').data('kendoWindow', null);
        }*/

        showLoader();

        $('#MaximaGlobalPopup').kendoWindow({
            iframe: true,
            content: '/Users/UserDetailsPopup?UID=' + UID,
            width: 750,
            height: 520,
            visible: false,
            title: 'Edit User ' + Account
        });

        $('#MaximaGlobalPopup').data('kendoWindow').center().open();
    }

    function URM_addUser()
    {
        showLoader();

        $('#MaximaGlobalPopup').kendoWindow({
            iframe: true,
            content: '/Users/UserDetailsPopup?UID=0',
            width: 750,
            height: 520,
            visible: false,
            title: 'New User'
        });

        $('#MaximaGlobalPopup').data('kendoWindow').center().open();
    }
</script>

@KoocoHtmlHelper.DocumentReady(@<text>
<script>
    // add datatable to container
    $('#@ViewBag.UserTableContainer').empty();
    $('#@ViewBag.UserTableContainer').append($('#URM_UserListTemplate').html());

    URM_LoadUserList(1, 'Account asc');
</script>
</text>)
