﻿@using MaximaWeb.Shared
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    Maxima Actions (Permissions) Management Page
    --------------------------------------------

    DO NOT CHANGE ANYTHING! CHANGES WILL BE OVERWRITTEN ON THE NEXT NUGET UPDATE!

    In Maxima: please only change the Index.cshtml in the root /Views/MaximaSettings folder!
    NOT inside the NugetOverwriteContents folder!
    The NugetOverwriteContentsFolder will be overwritten on each build!
-->

@section Templates {
    <script type="text/template" id="ActionPermissionsTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: center;" data-property="Code" data-edit="0">功能代號</th>
                    <th style="text-align: center;" data-property="ActionDisplayName" data-edit="0">功能</th>
                    <th style="text-align: center;" data-property="FriendlyName" data-edit="0" data-edit-type="text" data-edit-maxlength="@ApplicationAction.FriendlyNameMaxLength">功能名稱</th>
                    <th style="text-align: center;" data-property="PermissionLevel" data-edit="1" data-edit-type="dropdown" data-edit-listvalues="@Utils.GetDropDownListValuesFromEnum(typeof(ActionPermissionLevels), ExcludeValues: new int[] { (int)ActionPermissionLevels._None, (int)ActionPermissionLevels.AllUsers })">預設權限</th>
                    <th style="text-align: center;" data-property="Status" data-edit="0" data-visible="no"></th>
                    <th style="text-align: center;" data-property="ModuleCode" data-edit="0" data-visible="no" data-edit-type="dropdown" data-edit-datasource="/Users/AjaxActionsGetModulesDropDownList" data-edit-valuemember="Code" data-edit-textmember="Name" data-filter-addallitem="false">應用</th>
                </tr>
            </thead>
        </table>
    </script>
}

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
        loadActionPermissions();

        refreshLoginTicket();        

        function loadActionPermissions(pageNr)
        {
            MaximaPageManager.init({
                IdColumnName: "Code",
                GetDataUrl: "/Users/AjaxActionsGetList",
                GetPropertyUrl: "/Users/AjaxActionsGetProperty",
                SavePropertyUrl: "/Users/AjaxActionsSaveProperty",
                CanDelete: false,
                StatusColumnName: '',

                EnableDetailListView: false,
                EnableBoxView: false,
                EnableSorting: false,

                InitialViewType: MaximaPageManager_ViewTypes.DataTable,

                DataTableItemTemplateId: 'ActionPermissionsTableTemplate',
                ItemsPerPage: 12,

                FilterProperties: '@(ConfigManager.ActivateWebAppPermissions ? "ModuleCode," : "")Code,FriendlyName',
                InitialFilter: {
                    ModuleCode: '@Kooco.Framework.Shared.GlobalConst.ApplicationModuleAdminSite'
                },
                FilterDirectMode: true
            });
        }
        </script>
</text>)

<script type="text/javascript">
</script>