﻿@using MaximaWeb.Shared
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    Maxima Admin Users Management Page
    -----------------------------------

    DO NOT CHANGE ANYTHING! CHANGES WILL BE OVERWRITTEN ON THE NEXT NUGET UPDATE!

    In Maxima: please only change the Index.cshtml in the root /Views/MaximaSettings folder!
    NOT inside the NugetOverwriteContents folder!
    The NugetOverwriteContentsFolder will be overwritten on each build!
-->

@section Templates {
    <script type="text/template" id="AdminUsersTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: center;" data-property="Account" data-edit="0" data-column-width="15%" data-edit-type="text" data-edit-maxlength="@UserBase.AccountMaxLength">帳號名稱</th>
                    <th style="text-align: center;" data-property="Nickname" data-edit="0" data-column-width="20%" data-edit-type="text" data-edit-maxlength="@UserBase.NicknameMaxLength">暱稱</th>
                    <th style="text-align: center;" data-property="Name" data-edit="0" data-column-width="27%" data-edit-type="text" data-edit-maxlength="@UserBase.NicknameMaxLength">姓名</th>
                    <th style="text-align: center;" data-property="RoleCode" data-edit="1" data-column-width="15%" data-edit-type="dropdown" data-edit-datasource="/Users/AjaxRolesGetDropDownList" data-edit-valuemember="Code" data-edit-displaymember="DisplayName" data-onrender="RenderRoleColumn">角色</th>
                    <th style="text-align: center;" data-property="Status" data-edit="1" data-column-width="15%" data-edit-type="dropdown" data-edit-listvalues="@Utils.GetDropDownListValuesFromEnum(typeof(UserStatus), new int[] { (int)UserStatus._None })">狀態</th>
                    <th style="text-align: center;" data-property="UID" data-edit="0" data-column-width="8%" data-onrender="RenderButtonsColumn"></th>
                    <th style="text-align: center;" data-property="IsAdminSiteUser" data-edit="0" data-visible="no" data-edit-type="dropdownlist" data-edit-listvalues="@Utils.GetDropDownListValuesForBoolean("後台", "APP")" data-filter-allitem="false" data-filter-hide="true">應用</th>
                </tr>
            </thead>
        </table>
    </script>
}

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
        addContextButton('ctxAddNew', 'add_circle', 'javascript:addNewUser();', '新增管理者');

        loadUsers();

        refreshLoginTicket();

        function loadUsers(pageNr)
        {
            MaximaPageManager.init({
                IdColumnName: "UID",
                GetDataUrl: "/Users/AjaxAdminUsersGetList",
                GetPropertyUrl: "/Users/AjaxAdminUsersGetProperty",
                SavePropertyUrl: "/Users/AjaxAdminUsersSaveProperty",
                CanDelete: false,

                EnableDetailListView: false,
                EnableBoxView: false,
                EnableSorting: false,

                InitialViewType: MaximaPageManager_ViewTypes.DataTable,

                DataTableItemTemplateId: 'AdminUsersTableTemplate',
                ItemsPerPage: 12,

                FilterProperties: '@(ConfigManager.ActivateWebAppPermissions ? "IsAdminSiteUser," : "")RoleCode,Name,Status',
                InitialFilter: {
                    IsAdminSiteUser: true
                },
                FilterDirectMode: true
            });
        }
        </script>
</text>)

<script type="text/javascript">
    function RenderRoleColumn(eventArgs)
    {
        if (eventArgs.ColumnValues['IsMasterAdmin'])
            eventArgs.Html = 'Master Admin';
    }

    function RenderButtonsColumn(eventArgs)
    {
        var html = '';

        html += '<div style="float:left; padding-left: 10px;"><a href="javascript:void(0);" onclick="OpenDetailsPopup(\'' + eventArgs.ColumnValues['UID'] + '\', \'' + eventArgs.ColumnValues['Account'] + '\', this);" class="c-icon c-icon--main u-opacity-70p" style="float:left;"><img src="/images/page_edit.png" width="20" height="20" style="float:left;" title="編輯"></a></div>';
        if (!eventArgs.ColumnValues['IsMasterAdmin'])
            html += '<div style="float:left; padding-left: 10px;"><a href="javascript:void(0);" onclick="DeleteUser(\'' + eventArgs.ColumnValues['UID'] + '\', \'' + eventArgs.ColumnValues['Account'] + '\', \'' + eventArgs.ColumnValues['Nickname'] + '\', this);" data-role="' + eventArgs.ColumnValues['Code'] + '" class="c-icon c-icon--main u-color-minor u-opacity-60p" style="float:left;" title="刪除"><img src="/images/cancelred.png" width="20" height="20" style="float:left;"></a></div>';

        eventArgs.Html = html;
    }

    function addNewUser()
    {
        showLoader();

        $('#MaximaGlobalPopup').kendoWindow({
            iframe: true,
            content: '/Users/UserDetailsPopup?UID=0',
            width: 750,
            height: 520,
            visible: false,
            title: '新管理者'
        });

        $('#MaximaGlobalPopup').data('kendoWindow').center().open();
    }

    function OpenDetailsPopup(UID, Account)
    {
        showLoader();

        $('#MaximaGlobalPopup').kendoWindow({
            iframe: true,
            content: '/Users/UserDetailsPopup?UID=' + UID,
            width: 750,
            height: 520,
            visible: false,
            title: '編輯管理者 ' + Account
        });

        $('#MaximaGlobalPopup').data('kendoWindow').center().open();
    }

    function DeleteUser(UID, Account, Nickname)
    {
        if (confirm('This would completely delete the user ' + Account + ' (' + Nickname + ') and all its data!\nThis action can NOT be undone!!\nAre you sure?'))
        {
            postData('/Users/AjaxAdminUsersRemove', 'remove user', { UID: UID }, function (data, result) {
                MaximaPageManager.Refresh();
            });
        }
    }
</script>