﻿@using MaximaWeb.Shared
@using Kooco.Framework.Authentication;
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    Maxima Roles (+Permission) Management Page
    ------------------------------------------

    DO NOT CHANGE ANYTHING! CHANGES WILL BE OVERWRITTEN ON THE NEXT NUGET UPDATE!

    In Maxima: please only change the Index.cshtml in the root /Views/MaximaSettings folder!
    NOT inside the NugetOverwriteContents folder!
    The NugetOverwriteContentsFolder will be overwritten on each build!
-->

@section Templates {
    <script type="text/template" id="RolesTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: center;" data-property="DisplayName" data-edit="0" data-column-width="15%">角色名稱</th>
                    <!-- <th style="text-align: center;" data-property="ParentRoleCode" data-edit="1" data-column-width="15%" data-edit-type="dropdown" data-edit-datasource="/Users/AjaxRolesGetDropDownList" data-edit-valuemember="Code" data-edit-displaymember="DisplayName" data-onrender="RenderParentRoleColumn">父項目</th> -->
                    <th style="text-align: center;" data-property="ParentRoleCode" data-edit="0" data-column-width="15%" data-onrender="RenderParentRoleColumn">父項目</th>
                    <th style="text-align: center;" data-property="Description" data-edit="1" data-column-width="50%" data-edit-type="text" data-edit-maxlength="@ApplicationRole.DescriptionMaxLength" data-edit-width="100ch">說明</th>
                    <th style="text-align: center;" data-property="DateCreated" data-edit="0" data-column-width="10%" data-cssclass="dt-center" data-format="datetime">新增日期</th>
                    <th style="text-align: center;" data-property="Code" data-edit="0" data-column-width="10%" data-onrender="RenderButtonsColumn"></th>
                    <th style="text-align: center;" data-property="IsAdminSiteRole" data-edit="0" data-visible="no" data-edit-type="dropdownlist" data-edit-listvalues="@Utils.GetDropDownListValuesForBoolean("後台", "APP")" data-filter-allitem="false">應用</th>
                </tr>
            </thead>
        </table>
    </script>
}

@KoocoHtmlHelper.DocumentReady(@<text>
    <script>
        addContextButton('ctxAddNew', 'add_circle', 'javascript:addNewRole();', '新增角色');

        console.log('Session Variable: @Kooco.Framework.Authentication.AuthManager.Current.GetUserSessionVariableString("MeinTest")')

        loadRoles();

        refreshLoginTicket();

        function loadRoles(pageNr)
        {
            MaximaPageManager.init({
                IdColumnName: "Code",
                GetDataUrl: "/Users/AjaxRolesGetList",
                GetPropertyUrl: "/Users/AjaxRolesGetProperty",
                SavePropertyUrl: "/Users/AjaxRolesSaveProperty",
                CanDelete: false,
                StatusColumnName: '',

                EnableDetailListView: false,
                EnableBoxView: false,
                EnableSorting: true,

                InitialViewType: MaximaPageManager_ViewTypes.DataTable,

                DataTableItemTemplateId: 'RolesTableTemplate',
                ItemsPerPage: 12,

                FilterProperties: '@(ConfigManager.ActivateWebAppPermissions ? "IsAdminSiteRole," : "")Description',
                InitialFilter: {
                    IsAdminSiteRole: true
                },
                FilterDirectMode: true
            });
        }
    </script>
</text>)

<script type="text/javascript">
    function RenderParentRoleColumn(eventArgs)
    {
        var roleCode = eventArgs.ColumnValues['Code'].toLowerCase();
        switch(roleCode)
        {
            case '@Kooco.Framework.Authentication.BaseApplicationRoles.Admin.ToLower()':
            case '@Kooco.Framework.Authentication.BaseApplicationRoles.User.ToLower()':
            case '@Kooco.Framework.Authentication.BaseApplicationRoles.Guest.ToLower()':
                eventArgs.Html = '';
                break;
        }

        if (eventArgs.ColumnValues['IsSystemRole'])
            eventArgs.Html = '';
    }

    function RenderButtonsColumn(eventArgs)
    {
        var html = '';
        var roleCode = eventArgs.ColumnValues['Code'].toLowerCase().trim();

        if ((roleCode != '@Kooco.Framework.Authentication.BaseApplicationRoles.Admin.ToLower()') && (roleCode != '@Kooco.Framework.Authentication.BaseApplicationRoles.User.ToLower()') && (roleCode != '@Kooco.Framework.Authentication.BaseApplicationRoles.Guest.ToLower()'))
        {
            html += '<div style="float:left; padding-left: 10px;"><a href="javascript:void(0);" onclick="openActionPermissionsPopup(\'' + eventArgs.ColumnValues['Code'] + '\', this);" data-role="' + eventArgs.ColumnValues['Code'] + '" class="c-icon c-icon--main u-opacity-70p" style="float:left;"><img src="/images/application_key.png" width="20" height="20" style="float:left;"></a></div>';
            html += '<div style="float:left; padding-left: 10px;"><a href="javascript:void(0);" onclick="openNamedPermissionsPopup(\'' + eventArgs.ColumnValues['Code'] + '\', this);" data-role="' + eventArgs.ColumnValues['Code'] + '" class="c-icon c-icon--main u-opacity-70p" style="float:left;"><img src="/images/table_key.png" width="20" height="20" style="float:left;"></a></div>';
            if (!eventArgs.ColumnValues['IsSystemRole'])
                html += '<div style="float:left; padding-left: 10px;"><a href="javascript:void(0);" onclick="deleteRole(\'' + eventArgs.ColumnValues['Code'] + '\', this);" data-role="' + eventArgs.ColumnValues['Code'] + '" class="c-icon c-icon--main u-color-minor u-opacity-60p" style="float:left;"><img src="/images/cancelred.png" width="20" height="20" style="float:left;"></a></div>';
        }

        eventArgs.Html = html;
    }

    function addNewRole() {
        var PopupOptions = {
            PopupId: 'CreateRoleTextPopup',
            Title: '新增角色',
            Prompt: '請輸入新角色的Code (只可以用英文的A-Z和0-9!)<br/>(不可以使用【User】,【Guest】或是 【Admin】!)',
            PromptUseHtml: true,
            ExtraPopupHeight: 30,
            HideCopyLink: true,
            MaxLength: @ApplicationRole.CodeMaxLength,
            SaveButtonText: '新增',
            CloseOnSave: false,
            SaveCallback: function (value) {
                SaveNewRole(value);
            }
        };

        MaximaPageManager.ShowCustomTextPopup(PopupOptions);
    }

    function SaveNewRole(roleCodeEntered)
    {
        if (roleCodeEntered == null)
            return;
        if (roleCodeEntered.trim() == '')
            return;

        if (!/^\w+$/.test(roleCodeEntered))
        {
            alert('The code can only consist of english letters and numbers! (No spaces, special or chinese characters!)')
            return;
        }

        var UseAdminSiteRoles = true;
        @if (ConfigManager.ActivateWebAppPermissions)
        {
            <text>
            UseAdminSiteRoles = MaximaPageManager.GetFilterValue('IsAdminSiteRole');
            </text>
        }

        postData('/Users/AjaxRolesCreateNew', 'create new role', { Code: roleCodeEntered, AdminSiteRole: UseAdminSiteRoles }, function(data, result) {
            MaximaPageManager.CloseCustomTextPopup('CreateRoleTextPopup');
            MaximaPageManager.Refresh();
        });
    }

    function deleteRole(roleCode)
    {
        if (confirm('Do you really want to delete the role "' + roleCode + '" with all its permissions?'))
        {
            postData('/Users/AjaxRolesRemoveRole', 'delete role', { Code: roleCode }, function(data, result) {
                MaximaPageManager.Refresh();
            });
        }
    }
</script>


<!--
    ==========================================
    Action Permissions Management for the Role
    ==========================================
-->

<div id="ActionPermissionsPopup" class="newspopup k-popup pop-container" style="display: none;">
    <div class="pop-stack-cell">
        <div class="pop-c-inplbl" style="font-size: 11pt;">
            角色名稱:
        </div>
        <div class="pop-c-text" style="padding-top: 6px; font-size: 11pt; font-weight: bold;">
            <span id="ActionPermissionsRoleCode"></span>
        </div>
    </div>
    <div class="pop-stack-cell">
        &nbsp;
    </div>
    <div class="pop-stack-cell actionpermissionpop_listcontainer" id="ActionsListContainer">
        &nbsp;
    </div>
    <div class="pop-buttonline">
        <div class="pop-button">
            <button type="button" name="cancel" id="ActionPermissionsSaveButton">儲存</button>
        </div>
        <div class="pop-button">
            <button type="button" name="cancel" id="ActionPermissionsCancelButton">取消</button>
        </div>
    </div>
</div>

<!--
    ==================
    Action Permissions
    ==================
-->

<script type="text/javascript">
    var CurrentPermissions = null;
    var CurrentRoleCode = null;

    /*
     * openActionPermissionsPopup
     * --------------------------
     */
    function openActionPermissionsPopup(RoleCode)
    {
        // create popup
        $('#ActionPermissionsPopup').kendoWindow({
            width: '950x',
            height: '750px',
            minWidth: '950px',
            minHeight: '500px',
            title: '角色 - 功能權限管理',
            visible: true,
            actions: ['Close'],
            close: function (e) {
                if (typeof $('#ActionPermissionsSaveButton').data('kendoButton') != 'undefined')
                    $('#ActionPermissionsSaveButton').data('kendoButton').destroy();
                if (typeof $('#ActionPermissionsCancelButton').data('kendoButton') != 'undefined')
                    $('#ActionPermissionsCancelButton').data('kendoButton').destroy();
            },
            activate: function (e) {
                equalWidth('.pop-c-inplbl');
            }
        }).data('kendoWindow').center().open();

        $('#ActionPermissionsRoleCode').text(RoleCode);
        CurrentRoleCode = RoleCode;

        // add stamps popup - add stmaps button
        $('#ActionPermissionsSaveButton').kendoButton({
            icon: 'check',
            click: function (e) {
                SavePermissions();
            }
        });

        // add stamps popup - close button
        $('#ActionPermissionsCancelButton').kendoButton({
            icon: 'cancel',
            click: function (e) {
                $('#ActionPermissionsPopup').data('kendoWindow').close();
            }
        });

        LoadPermissions();
    }

    /*
     * SavePermissions
     * ---------------
     */
    function LoadPermissions()
    {
        $('#ActionsListContainer').empty();

        getRemoteData('/Users/AjaxRolesGetActionPermissionsList?RoleCode=' + CurrentRoleCode, 'load permissions', function(data, result) {
            CurrentPermissions = data;

            RefreshPermissionsList();
        });
    }

    /*
     * RefreshPermissionsList
     * ----------------------
     */
    function RefreshPermissionsList()
    {
        $('#ActionsListContainer').empty();

        var html = '';
        for(var iIndex = 0; iIndex < CurrentPermissions.length; iIndex++)
        {
            html = html + '<div class="actionpermissionpoprow">' +
                          '  <div class="actionpermissionpop_text">' +
                          CurrentPermissions[iIndex].ActionFriendlyName +
                          '  </div>' +
                          '  <div class="actionpermissionpop_code">' +
                          CurrentPermissions[iIndex].ActionCode +
                          '  </div>' +
                          '  <div class="actionpermissionpop_menuitem">' +
                          (CurrentPermissions[iIndex].ParentMenuItemName != '' ? CurrentPermissions[iIndex].ParentMenuItemName + ' / ' : '') + CurrentPermissions[iIndex].MenuItemName +
                          '  </div>' +
                          '  <div class="actionpermissionpop_permission" id="actionperm_impexp' + CurrentPermissions[iIndex].ActionCode + '">' +
                          '    <input id="actionpermissionperm' + CurrentPermissions[iIndex].ActionCode + '" style="width: 80px;" class="actionpermissionperminp" value="' + CurrentPermissions[iIndex].PermissionType + '" data-actioncode="' + CurrentPermissions[iIndex].ActionCode + '" />' +
                          '  </div>' +
                          '  <div class="' + (CurrentPermissions[iIndex].Implicite ? 'actionpermissionpop_implicite' : 'actionpermissionpop_explicite') + '">' +
                          '    ' + (CurrentPermissions[iIndex].Implicite ? '繼承設定' : '自訂設定') +
                          '  </div>' +
                          '</div>';
        }

        $('#ActionsListContainer').append(html);

        var ActionPermissionsDataSource = @Utils.GetJSDataSourceFromEnum(typeof(UserPermissionTypes));

        $('.actionpermissionperminp').kendoDropDownList({
            dataSource: ActionPermissionsDataSource,
            dataTextField: 'Name',
            dataValueField: 'Value',
            template: '#if(data.Value == @((int)UserPermissionTypes.Permit)){# <span class="permissionentry-allow">#:data.Name#</span> #} else {# <span class="permissionentry-deny">#:data.Name#</span> #}#',
            valueTemplate: '#if(data.Value == @((int)UserPermissionTypes.Permit)){# <span class="permissionentry-allow">#:data.Name#</span> #} else {# <span class="permissionentry-deny">#:data.Name#</span> #}#',
            change: function(e) {
                var actionCode = $(e.sender.element).data('actioncode');
                var ActionItem = GetPermissionItemByActionCode(actionCode);
                ActionItem.PermissionType = e.sender.value();
            }
        });
    }

    /*
     * GetPermissionItemByActionCode
     * -----------------------------
     */
    function GetPermissionItemByActionCode(actionCode)
    {
        for (var iIndex = 0; iIndex < CurrentPermissions.length; iIndex++)
        {
            if (CurrentPermissions[iIndex].ActionCode == actionCode)
                return CurrentPermissions[iIndex];
        }

        return null;
    }

    /*
     * SavePermissions
     * ---------------
     */
    function SavePermissions()
    {
        postData('/Users/AjaxRolesSaveActionPermissions', 'save permissions', { RoleCode: CurrentRoleCode, Permissions: CurrentPermissions }, function(data, result) {
            $('#ActionPermissionsPopup').data('kendoWindow').close();
        });
    }
</script>



<!--
    =================
    Named Permissions
    =================
-->


<!-- Named Permissions Popup -->
@(Html.Kendo().Window()
          .Name("NamedPermissionsPopup")
          .Title("角色 - 特殊權限管理")
          .Width(950).Height(750)
          .HtmlAttributes(new { MinWidth = 950, MinHeight = 500 })
          .Content(@<text>
            <div class="pop-stack-cell">
                <div class="pop-c-inplbl" style="font-size: 11pt;">
                    角色名稱:
                </div>
                <div class="pop-c-text" style="padding-top: 6px; font-size: 11pt; font-weight: bold;">
                    <span id="NamedPermissionsRoleCode"></span>
                </div>
            </div>
            <div class="pop-stack-cell">
                &nbsp;
            </div>
            <div class="pop-stack-cell actionpermissionpop_listcontainer" id="NamedPermissionsListContainer">
                @RenderNamedPermissionsGrid()
            </div>
            <div class="pop-buttonline">
                <div class="pop-button">
                    @(Html.Kendo().Button().Name("NamedPermissionsOk").Content("儲存").Icon("check").Events(itm => itm.Click("SaveNamedPermissions")))
                </div>
                <div class="pop-button">
                    @(Html.Kendo().Button().Name("NamedPermissionsCancel").Content("取消").Icon("cancel").Events(itm => itm.Click("CloseNamedPermissionsPopup")))
                </div>
            </div>
        </text>)
                .Visible(false)
)

<!-- Named Permissions Grid -->
@helper RenderNamedPermissionsGrid()
    {
        @(Html.Kendo().Grid<PermissionDTO>().Name("NamedPermissionsGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(row => row.PermissionSetCode);
                        columns.Bound(row => row.PermissionSetName);
                        columns.ForeignKey(row => row.PermissionType, Utils.GetEnumIntList<UserPermissionTypes>(), "Value", "DisplayText").Width(140)
                            .ClientTemplate("# if(data.PermissionType == " + ((int)UserPermissionTypes.Permit).ToString() + "){ # <span class=\"permissionentry-allow\">#=KendoGridForeignKeyText('NamedPermissionsGrid', data, 'PermissionType')#</span> #} else { # <span class=\"permissionentry-deny\">#=KendoGridForeignKeyText('NamedPermissionsGrid', data, 'PermissionType')#</span> #}#"); /* The UIHint of the PermissionDTO.PermissionType property makes it a dropdown! */
                    })
                    .AutoBind(false)
                    .Editable(opt => opt.Mode(GridEditMode.InCell))
                    .Events(e => e.Edit("KendoGridOpenDropDownsOnClickHandler"))
                    .DataSource(
                        source => source
                            .Ajax()                            
                            .Model(model => {
                                model.Id(prop => prop.PermissionSetCode);
                                model.Field(prop => prop.PermissionSetCode).Editable(false);
                                model.Field(prop => prop.PermissionSetName).Editable(false);
                            })
                            .Events(events => events.Error("HandleKendoError"))
                            .Read(read => read.Action("AjaxRolesGetActionNamedPermissionsList", "Users").Type(HttpVerbs.Get))
                            .Update(update => update.Action("AjaxRolesUpdateNamedPermission", "Users"))
                        )
        )
    }

<script type="text/javascript">
    function openNamedPermissionsPopup(roleCode) {
        $('#NamedPermissionsRoleCode').text(roleCode);

        GetKendo("NamedPermissionsGrid").dataSource.read({ RoleCode: roleCode });
        GetKendo('NamedPermissionsPopup').open();
    }

    function SaveNamedPermissions() {
        GetKendo('NamedPermissionsGrid').saveChanges();
        GetKendo('NamedPermissionsPopup').close();
    }

    function CloseNamedPermissionsPopup() {
        GetKendo('NamedPermissionsPopup').close();
    }
</script>