﻿<!DOCTYPE html>
<html>
<head>
    <!--
        _FullLayout
        -----------
        Layout page for pages filling the full size of the page
        having no menu, no titlebar, no footer (login page)
    -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kooco Generics Test Website</title>

    @RenderSection("Header", required: false)

    <link href="~/styles/Maxima.common.css" rel="stylesheet">
    <link rel="stylesheet" href="~/styles/Maxima.Kooco2015.css" />

    <!-- TODO automatic add these lines somehow to the _Layout page with NuGet? -->
    <link href="~/styles/bootstrap.min.css" rel="stylesheet">
    <link href="https://kendo.cdn.telerik.com/2017.3.1018/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.3.1018/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.3.1018/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="https://kendo.cdn.telerik.com/2017.3.1018/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.3.1018/js/jszip.min.js"></script>
    <script src="~/api/maxima/maximajs?v=@Kooco.Framework.Shared.GlobalConst.MaximaAppVersion"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.3.1018/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.3.1018/js/kendo.aspnetmvc.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2017.3.1018/js/messages/kendo.messages.zh-TW.min.js"></script>
    <script src="~/scripts/kendo.modernizr.custom.js"></script>
</head>
<body class="maxima-body alt-grid @ViewBag.BodyClass">
    <script>
        var GlobalMessagePopup = null; // required definition! Please don't remove!
        var ApplicationVirtualDirectory = null; // required definition! Please don't remove!
        var isMobile = { any: false };
    </script>

    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
    @Html.Partial("_MaximaBase")
</body>
</html>
