﻿@{
    // Maxima Code Base for cshtml pages.
    // Please add this partial view to the end of your _Layout page!
    // It is crucial for the KoocoHtmlHelper to work correctly!
    //
    // FILE GENERATED AUTOMATICALLY
    // PLEASE DO NOT CHANGE!
    // THIS FILE WILL BE OVERWRITTEN ON EVERY UPDATE OF THE MAXIMAWEB PACKAGE!
    //
    // Note:
    // This partial view already uses the jQuery $(document).ready() function to initialize HtmlHelper controls. You CAN NOT use it directly in your pages again!!
    // If you want to use the $(document).ready() function for your own scripts, simply use the KoocoHtmlHelper.DocumentReady() function in your page:
    //
    //    @KoocoHtmlHelper.DocumentReady(@<text>
    //       your javascript code here
    //    </text>)
    //

    var HtmlHelperModule = new MaximaWeb.Shared.KoocoHtmlHelper(ViewContext, Html.ViewDataContainer);
}

<span id="MaximalGlobalMessagePopup"></span>

@(Html.Kendo().Notification().Name("MaximaKendoNotification"))

<script type="text/javascript">
    var SessionTicketCheckTimer = null;    
    window.PageIsUnloading = false;

    window.onbeforeunload = function (e) {
        window.PageIsUnloading = true;

        if (SessionTicketCheckTimer != null) {
            window.clearInterval(SessionTicketCheckTimer);
        }
    };
</script>

<script>
$(function () {

    ApplicationVirtualDirectory = '@(string.IsNullOrWhiteSpace(Kooco.Framework.Shared.GlobalConst.MaximaVirtualPath) ? "/" : Kooco.Framework.Shared.GlobalConst.MaximaVirtualPath)';

    GlobalMessagePopup =
        $('#MaximalGlobalMessagePopup').kendoDialog({
            width: '500px',
            title: 'Popup Title',
            content: 'dummy content',
            closable: true,
            modal: true,
            visible: false,
            actions: [
                { text: 'OK' }
            ]
        }).data('kendoDialog');

    initMaximaTooltips();

    @if ((Kooco.Framework.Shared.Utils.SafeString(ViewContext.RouteData.Values["action"]) != "Login") && (ViewBag.DisableSessionCheck != true))
    {
        <text>
        SessionTicketCheckTimer = window.setInterval(function() {
            checkSessionTicket();
        }, 10000);
        </text>
    }

    @if (ViewBag.DisableSessionCheck == true)
    {
        <text>
        window.DisableSessionCheck = true;
        </text>
    }

    @HtmlHelperModule.RenderDocumentReady()
});

    if (isMobile.any)
    {
        $('.breadcrumb-main').css('display', 'none');
        $('.contextbuttons-container').css('width', '100%');
        $('.c-filter-contents').css('width', '100%');
        $('.c-filter-controls').css('width', '100%');
        $('.mobilehome_item').show();
    }
</script>

@if ((ViewBag.UseJiraIssueEditor == true) || (Kooco.Framework.Shared.ConfigManager.JiraEditorEmbedGlobally))
{    
    @Html.Partial("~/MaximaWeb/MaximaWeb.Views.Modules.JiraIssues.IssueEditor.cshtml")
}