﻿@using Kooco.Framework.Shared
@using Kooco.Framework.Models.Enum
@using MaximaWeb.Shared
@using Kooco.Framework.Models.DataStorage.Tables

<!--
    Maxima Settings Management Page
    -------------------------------

    DO NOT CHANGE ANYTHING! CHANGES WILL BE OVERWRITTEN ON THE NEXT NUGET UPDATE!

    In Maxima: please only change the SettingsEditor.cshtml in the root /Views/Modules/SettingsManager folder!
    NOT inside the NugetOverwriteContents folder!
    The NugetOverwriteContentsFolder will be overwritten on each build!
-->

@{
    
}

<script type="text/template" id="MaximaSetingsListTemplate">
    <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="Maxima_SettingsListTable" cellspacing="0" style="box-sizing: border-box; width: 100%;">
        <thead>
            <tr>
                <th style="text-align: right; padding-right: 15px;">設置名稱</th>
                <th style="text-align: left; padding-left: 15px;">設定</th>
                <th style="text-align: center;">最後修改日期</th>
            </tr>
        </thead>
    </table>
</script>

<script>
    function LoadSettingsList()
    {
        showLoader();

        getRemoteData('/MaximaSettings/AjaxGetSettings', 'Settings List', function (data, result) {
            Maxima_SettingsListTable = DataTableWrapper('#Maxima_SettingsListTable', data, {
                columns: [
                    {
                        data: 'DisplayName',
                        render: function (data, type, full, meta) {
                            return "<div class='settingsname' title='" + full.Description + "' style='float: right;'>" + data + "</div>";
                        },
                        width: "30%"
                    },
                    {
                        data: 'SettingValue',
                        render: function (data, type, full, meta) {
                            switch(full.Type)
                            {
                                case @((int)AppSettingType.Text):
                                    return RenderTextInput(full);

                                case @((int)AppSettingType.Numeric):
                                    return RenderNumericInput(full);

                                case @((int)AppSettingType.Date):
                                    return RenderDateInput(full);

                                case @((int)AppSettingType.List):
                                    return RenderDropDownInput(full);

                                case @((int)AppSettingType.Icon):
                                    return RenderIconUploader(full);

                                default:
                                    return data;
                            }
                        },
                        width: "55%"
                    },
                    {
                        data: 'LastModifiedDate',
                        render: function (data, type, full, meta) {
                            return jsonDateToDateString(data);
                        },
                        width: "15%"
                    },
                ],
                ondraw: function(e) {
                    initInputElements();
                },
                ordering: false
            });

            hideLoader();
        });
    }

    function initInputElements()
    {
        // initialize numeric inputs
        $('.AppSettingNumericInput').each(function() {
            var numInput = $(this);
            numInput.kendoNumericTextBox();
            var numTextBox = numInput.data('kendoNumericTextBox');

            if ((typeof numInput.data('minvalue') != 'undefined') && (numInput.data('minvalue') != null))
                numTextBox.min(numInput.data('minvalue'));
            if ((typeof numInput.data('maxvalue') != 'undefined') && (numInput.data('maxvalue') != null))
                numTextBox.max(numInput.data('maxvalue'));
        });

        // initialize date inputs
        $('.AppSettingDateInput').each(function() {
            var dateInput = $(this);
            dateInput.kendoDatePicker({
                format: "yyyy/MM/dd"
            });
            var dateTextBox = dateInput.data('kendoDatePicker');
        });

        // initialize dropdownlists
        $('.AppSettingDropDownList').each(function() {
            var ddInput = $(this);
            var listEntries = ddInput.data('list').split(";");

            ddInput.kendoDropDownList({
                dataSource: listEntries
            });

            var dropDownList = ddInput.data('kendoDropDownList');
        });

        // initialize uploaders
        $('.AppSettingUploadButton').kendoButton({
        }).on('click', function(e) {
            UploadIcon($(this), e);
        });
    }

    /*
     * Control Rendering
     * -----------------
     */

    function RenderTextInput(dataRow)
    {
        var Html = "<div class='settings_ajaxinput'><input type='text' class='AppSettingTextInput k-textbox' style='width: 100ch;' id='" + dataRow.Key + "' onchange=\"SetSettingValue(" + dataRow.Id + ", '" + dataRow.Key + "', $(this), false);\" required ";
        if ((typeof dataRow.MaxLength != 'undefined') && (dataRow.MaxLength != null))
            Html += "maxlength=" + dataRow.MaxLength + " ";
        else
            Html += "maxlength=@(ApplicationSetting.SettingValueMaxLength) ";

        if ((typeof dataRow.MinLength != 'undefined') && (dataRow.MinLength != null))
            Html += "pattern='.{" + dataRow.MinLength + "}' ";
        Html += "value='" + dataRow.SettingValue + "'></input><span class='ajaxinputloader'><img class='settings_loaderimg' id='settings_loaderimg" + dataRow.Id + "' src='/images/blank_16x16.png'></span></div>";
        return Html;
    }

    function RenderNumericInput(dataRow)
    {
        var Html = "<div class='settings_ajaxinput'><input type='text' class='AppSettingNumericInput' id='" + dataRow.Key + "' onchange=\"SetSettingValue(" + dataRow.Id + ", '" + dataRow.Key + "', $('#" + dataRow.Key + "'), true);\" required ";
        if (dataRow.NumRangeFrom != null)
            Html += " data-minvalue=" + dataRow.NumRangeFrom + " ";
        if (dataRow.NumRangeTo != null)
            Html += " data-maxvalue=" + dataRow.NumRangeTo + " ";
        Html += " value='" + dataRow.SettingValue + "'></input>";
        if ((typeof dataRow.UnitName != 'undefined') && (dataRow.UnitName != null) && (dataRow.UnitName.trim() != ''))
            Html += "<span class='ajaxinputunit' style='padding-left: 10px;'>" + dataRow.UnitName + "</span>";
        Html += "<span class='ajaxinputloader'><img class='settings_loaderimg' id='settings_loaderimg" + dataRow.Id + "' src='/images/blank_16x16.png'></span></div>";
        return Html;
    }

    function RenderDateInput(dataRow)
    {
        var Html = "<div class='settings_ajaxinput'><input type='text' class='AppSettingDateInput' id='" + dataRow.Key + "' onchange=\"SetSettingValue(" + dataRow.Id + ", '" + dataRow.Key + "', $(this), true);\" ";
        Html += "value='" + dataRow.SettingValue + "' required ";
        Html += "></input><span class='ajaxinputloader'><img class='settings_loaderimg' id='settings_loaderimg" + dataRow.Id + "' src='/images/blank_16x16.png'></span></div>";
        return Html;
    }

    function RenderDropDownInput(dataRow)
    {
        var Html = "<div class='settings_ajaxinput'><input class='AppSettingDropDownList' style='text-align: left;' id='" + dataRow.Key + "' onchange=\"SetSettingValue(" + dataRow.Id + ", '" + dataRow.Key + "', $(this), true);\" ";
        Html += "value='" + dataRow.SettingValue + "' data-list='" + dataRow.ListValues + "' required></input><span class='ajaxinputloader'><img class='settings_loaderimg' id='settings_loaderimg" + dataRow.Id + "' src='/images/blank_16x16.png'></span></div>";
        return Html;
    }

    function RenderIconUploader(dataRow)
    {
        var Html = "<div class='settings_ajaxinput'><img id='settingicon" + dataRow.Id + "' src='" + ((dataRow.SettingValue == null || dataRow.SettingValue == "") ? "/images/blank_16x16.png" : dataRow.SettingValue + "?v=" + (((new Date()) * 10000))) + "' class='AppSettingIcon' style='width: 16px; height: 16px;'>";
        Html += "<input name='file' type='file' id='iconupload" + dataRow.Id + "' class='k-button AppSettingUploader' />";
        Html += "<input type='button' value='上傳' class='k-button k-primary AppSettingUploadButton' id='UploadButton" + dataRow.Id + "' data-id='" + dataRow.Id + "' data-key='" + dataRow.Key + "' />";
        Html += "<span class='ajaxinputloader'><img class='settings_loaderimg' id='settings_loaderimg" + dataRow.Id + "' src='/images/blank_16x16.png'></span>";
        Html += "</div>";
        return Html;
    }

    /*
     * Save Settings
     * -------------
     */

    function SetSettingValue(id, settingKey, ctrl, isKendo)
    {
        var loaderImg = $('#settings_loaderimg' + id);
        var settingValue = null;
        loaderImg.attr('src', '/images/loader.gif');
        loaderImg.attr('title', '');

        window.setTimeout(function () {
            if (isKendo)
                settingValue = GetKendo(ctrl).value();
            else
                settingValue = ctrl.val();

            console.log('saving setting ' + settingKey + ': ' + settingValue);

            postData('/MaximaSettings/AjaxSaveSetting', 'Save setting ' + settingKey, { SettingKey: settingKey, settingValue: settingValue }, function (data) {
                loaderImg.attr('src', '/images/ok.png');

                setTimeout(function (e) {
                    loaderImg.attr('src', '/images/blank_16x16.png');
                }, 3000);
            }, function (errorMessage) {
                loaderImg.attr('src', '/images/error.png');
                loaderImg.attr('title', errorMessage);
            }, true); // true = suppressAlerts
        }, 200);
    }

    /*
     * Icon Uploader
     * -------------
     */

    function UploadIcon(button, e)
    {
        var id = button.data('id');
        var key = button.data('key');
        var loaderImg = $('#settings_loaderimg' + id);
        var settingIcon = $('#settingicon' + id);
        loaderImg.attr('src', '/images/loader.gif');

        uploadFile('iconupload' + id, '/MaximaSettings/AjaxUploadIcon?SettingKey=' + key, null,
            function (data) {
                loaderImg.attr('src', '/images/ok.png');
                settingIcon.attr('src', data + "?v=" + (((new Date()) * 10000)));

                setTimeout(function(e) {
                    loaderImg.attr('src', '/images/blank_16x16.png');
                }, 3000);
            },
            function(errorMessage, cancelled) {
                console.log(errorMessage);
                if (cancelled)
                    loaderImg.attr('src', '/images/blank_16x16.png');
                else
                {
                    loaderImg.attr('src', '/images/error.png');
                    loaderImg.attr('title', errorMessage);
                }
            }, true); // true = suppressAlerts
    }
</script>

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
            // add datatable to container
            $('#@ViewBag.SettingsTableContainer').empty();
            $('#@ViewBag.SettingsTableContainer').append($('#MaximaSetingsListTemplate').html());

            LoadSettingsList();
        </script>
</text>)