﻿@using MaximaWeb.Shared
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    Maxima Application Menu Management Page
    ---------------------------------------

    DO NOT CHANGE ANYTHING! CHANGES WILL BE OVERWRITTEN ON THE NEXT NUGET UPDATE!

    In Maxima: please only change the Index.cshtml in the root /Views/MaximaSettings folder!
    NOT inside the NugetOverwriteContents folder!
    The NugetOverwriteContentsFolder will be overwritten on each build!
-->

@section Templates {
    <script type="text/template" id="MenuItemsTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: center;" data-property="Id" data-visible="no">Id</th>
                    <th style="text-align: center;" data-property="Name" data-edit="1" data-edit-type="text" data-edit-maxlength="@ApplicationMenuItem.NameMaxLength">名稱</th>
                    <th style="text-align: center;" data-property="ParentItemName" data-edit="0">父項目</th>
                    <th style="text-align: center;" data-property="ActionDisplayName" data-edit="0" data-edit-type="textbox" data-edit-width="50ch" data-edit-maxlength="30" data-on-saveproperty-error="SaveStatusError">功能</th>
                    <th style="text-align: center;" data-property="ActionFriendlyName" data-edit="0">功能名稱</th>
                    <th style="text-align: center;" data-property="DateModified" data-cssclass="dt-center" data-edit="0" data-format="datetime">Modify Date</th>                    
                </tr>
            </thead>
        </table>        
    </script>
}

@KoocoHtmlHelper.DocumentReady(@<text>
    <script>
        testLoad();

        refreshLoginTicket();        

        function testLoad(pageNr)
        {
            MaximaPageManager.init({
                IdColumnName: "Id",
                GetDataUrl: "/AppStructure/AjaxMenuGetList",
                GetPropertyUrl: "/AppStructure/AjaxMenuGetProperty",
                SavePropertyUrl: "/AppStructure/AjaxMenuSaveProperty",
                CanDelete: false,

                EnableDetailListView: false,
                EnableBoxView: false,
                EnableSorting: false,

                InitialViewType: MaximaPageManager_ViewTypes.DataTable,

                DataTableItemTemplateId: 'MenuItemsTableTemplate',
                ItemsPerPage: 12,

                FilterProperties: '',
                FilterDirectMode: true
            });
        }        
    </script>
</text>)

<script type="text/javascript">
</script>

