﻿@using Kooco.Framework.Shared
@using Kooco.Framework.Models.Enum

@(Html.Kendo().DropDownListFor(m => m)
    .DataTextField("DisplayText")
    .DataValueField("Value")
    .Template("#if(Value == " + ((int)UserPermissionTypes.Permit).ToString() + "){# <span class=\"permissionentry-allow\">#:DisplayText#</span> #} else {# <span class=\"permissionentry-deny\">#:DisplayText#</span> #}#")
    .ValueTemplate("#if(Value == " + ((int)UserPermissionTypes.Permit).ToString() + "){# <span class=\"permissionentry-allow\">#:DisplayText#</span> #} else {# <span class=\"permissionentry-deny\">#:DisplayText#</span> #}#")
    .BindTo(Utils.GetEnumList<UserPermissionTypes>())
   )
