﻿@font-face {
  font-family: "demo";
  src: url('/fonts/icons.woff') format("woff"), url('/fonts/icons.ttf') format("truetype");
}

@keyframes loadingStart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: relative;
  pointer-events: none;  
}

.loading .loading-overlay {
  position: absolute;
  z-index: 20001;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  width: 100%;
  height: 100%;
  -webkit-animation: loadingStart 2s 350ms linear 1 both;
  -moz-animation: loadingStart 2s 350ms linear 1 both;
  -o-animation: loadingStart 2s 350ms linear 1 both;
  animation: loadingStart 2s 350ms linear 1 both;
  background: rgba(255, 255, 255, 0.5) !important;  
  text-align: center;
}
.loading .loading-text {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-shadow: white 0 0 1em, white 0 0 0.5em, white 0 0 0.25em;
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}
.loading .loading-text:after {
  content: "...";
}
.loading .loading-spinner {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: -3.9375rem auto 0;
  color: #1a1d1d;
  text-align: center;
}
.loading .loading-icon {
  font-size: 4.8125rem;
  line-height: 5.25rem;
  text-shadow: rgba(255, 255, 255, 0.75) 0 0 0.5em;
  -webkit-animation: loading 1s steps(4) infinite;
  -moz-animation: loading 1s steps(4) infinite;
  -o-animation: loading 1s steps(4) infinite;
  animation: loading 1s steps(4) infinite;
  display: block;
  vertical-align: middle;
}
.loading .loading-icon:before {
  vertical-align: middle;
  content: "\e000";
  font-family: "demo";
}