﻿.swagger-link a:link, .swagger-link a:active, .swagger-link a:visited
{
    text-decoration: none;
    color: #398d55;
}

.swagger-link a:hover
{
    text-decoration: underline;
    color: #398d55;
}

.swagger-section #header {
    background-color: #00b3b3;
}
