﻿@using MaximaWeb.Shared
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@using Kooco.Framework.Models.Logging;
@using Kooco.Framework.Providers;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.UseJiraIssueEditor = true;

    var PermissionsProvider = new UserPermissionsProvider();
}

@section Templates {
    <script type="text/template" id="JiraIssuesTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: center;" data-property="Id" data-visible="no">Id</th>
                    <th style="text-align: center;" data-property="Key" data-edit="0" data-edit-type="text">密钥</th>
                    <th style="text-align: center;" data-property="IssueCreateTime" data-edit="0" data-format="datetime">已创建</th>
                    <th style="text-align: center;" data-property="IssueTypeName" data-edit="0" data-onrender="RenderIssueType">類型</th>
                    <th style="text-align: center;" data-property="IssueTypeId" data-visible="no" data-edit="0" data-edit-type="dropdown" data-edit-datasource="/MaximaJira/AjaxGetIssueTypesDDList" data-edit-valuemember="Id" data-edit-displaymember="Name">類型</th>
                    <th style="text-align: center;" data-property="PriorityDisplayText" data-edit="0" data-onrender="RenderPriority">優先級</th>
                    <th style="text-align: center;" data-property="Priority" data-visible="no" data-edit="0" data-edit-type="dropdown" data-edit-listvalues="@Utils.GetDropDownListValuesFromEnum(typeof(JiraIssuePriority))">優先級</th>
                    <th style="text-align: center;" data-property="Summary" data-edit="0" data-edit-type="text">標題</th>
                    <th style="text-align: center;" data-property="ReporterAdminUsername" data-edit="0">報告人</th>
                    <th style="text-align: center;" data-property="IssueStatusName" data-edit="0">狀態</th>
                    <th style="text-align: center;" data-property="CanEdit" data-edit="0" data-onrender="RenderButtonsColumn"></th>
                    <th style="text-align: center;" data-property="IssueStatusId" data-visible="no" data-edit="0" data-edit-type="dropdown" data-edit-datasource="/MaximaJira/AjaxGetIssueStatusesDDList" data-edit-valuemember="Id" data-edit-displaymember="Name">狀態</th>
                </tr>
            </thead>
        </table>
    </script>

    <script type="text/template" id="CustomFilterTemplate">
        <div>

        </div>
    </script>

    <script type="text/javascript">
        function RenderIssueType(eventArgs) {
            eventArgs.Html = '<span>' +
                '<img src="' + MaximaPageManager.GetRawValueFromDataSource(eventArgs.Id, 'IssueTypeImageUrl') + '" style="width: 16px; height: 16px;" />' +
                '<span id="issuetype_' + eventArgs.Id + '" style="padding-left: 10px;">' + MaximaPageManager.GetRawValueFromDataSource(eventArgs.Id, 'IssueTypeName') + '</span>' +
                '</span>';
        }

        function RenderPriority(eventArgs) {
            eventArgs.Html = '<span>' +
                '<img src="' + MaximaPageManager.GetRawValueFromDataSource(eventArgs.Id, 'PriorityImageUrl') + '" style="width: 16px; height: 16px;" />' +
                '<span id="priority_' + eventArgs.Id + '" style="padding-left: 10px;">' + MaximaPageManager.GetRawValueFromDataSource(eventArgs.Id, 'PriorityDisplayText') + '</span>' +
                '</span>';
        }

        function RenderButtonsColumn(eventArgs) {
            eventArgs.Html = '<div style="float:left; padding-left: 10px;"><a href="javascript:void(0);" onclick="jiraUpdateIssue(' + eventArgs.Id + ', true);" class="c-icon c-icon--main u-color-minor u-opacity-60p" style="float:left;" title="删除"><img src="/images/' + (eventArgs.ColumnValues['CanEdit'] ? 'page_edit.png' : 'page_green.png') + '" width="20" height="20" style="float:left;"></a></div>';
        }
    </script>
}

@KoocoHtmlHelper.DocumentReady(@<text>
    <script>
        LoadIssues();

        refreshLoginTicket();

        function LoadIssues() {
            @if (PermissionsProvider.HasPermission(FrameworkPermissionSetCodes.CanCreateNewIssues))
            {
                <text>
                addContextButton('ctxAddNew', 'add_circle', 'javascript:jiraAddNewIssue(true);');
                </text>
            }

            MaximaPageManager.init({
                IdColumnName: "Id",
                StatusColumnName: "",
                GetDataUrl: "/MaximaJira/AjaxGetList",
                GetPropertyUrl: "/MaximaJira/AjaxGetProperty",
                SavePropertyUrl: "/MaximaJira/AjaxSaveProperty",
                CanDelete: false,
                CanExport: false,

                EnableDetailListView: false,
                EnableBoxView: false,

                InitialViewType: MaximaPageManager_ViewTypes.DataTable,
                DefaultSortOrder: 'Key desc',

                DataTableItemTemplateId: 'JiraIssuesTableTemplate',
                ItemsPerPage: 15,

                FilterProperties: 'Key,IssueTypeId,Priority,Summary,IssueStatusId',
                InitialFilter: {
                },
                FilterDirectMode: true,

                BeforeFilterApply: function (filterUrl) {
                },

                LoadCompleted: function () {
                }
            });
        }
    </script>
</text>)
